---
import { H2, H3, P, Image, Button, Icon } from "ui";

interface Props {
  class?: string;
  name?: string;
  spec?: string;
  variant?: "default" | "secondary" | "main";
}

const {
  class: classname = "",
  name = "<strong>Киселев</strong> Антон Сергеевич",
  spec = "Основатель клиники",
  variant = "default",
} = Astro.props;
---

<div class="specialist" class:list={classname}>
  <div
    class="specialist__img"
    class:list={[
      variant == "secondary" ? "is-secondary" : "",
      variant == "main" ? "is-main" : "",
    ]}
    data-aos="fade-up"
  >
    <Image src="clinic/doctor.png" />

    {
      variant === "secondary" && (
        <Button data-modal="callback" data-aos="fade-up" data-aos-delay="150">
          Записаться на прием
        </Button>
      )
    }

    {
      variant === "main" && (
        <button
          class="btn-play"
          data-fancybox="video"
          data-src="/assets/videos/hero.mp4"
        >
          <Icon src="play-2.svg" />
        </button>
      )
    }
  </div>

  <div
    class="specialist__info"
    class:list={[
      variant == "secondary" ? "is-secondary" : "",
      variant == "main" ? "is-main" : "",
    ]}
  >
    {
      variant === "main" && (
        <div class="specialist__info-experience" data-aos="fade-up">
          СТАЖ 17 ЛЕТ
        </div>
      )
    }

    <div class="group">
      <div class="specialist__info-name" set:html={name} data-aos="fade-up" />
      <div class="specialist__info-spec" data-aos="fade-up">{spec}</div>
    </div>

    <ul
      class="specialist__directions group-row"
      class:list={variant == "secondary" ? "is-secondary" : ""}
    >
      <li data-aos="fade-up">Невролог</li>
      <li data-aos="fade-up" data-aos-delay="50">Мануальный терапевт</li>
      <li data-aos="fade-up" data-aos-delay="100">Рефлексотерапевт</li>
      <li data-aos="fade-up" data-aos-delay="150">Остеопат</li>
      <li data-aos="fade-up" data-aos-delay="200">Спортивный врач</li>
    </ul>

    {
      variant === "main" && (
        <div class="specialist__info-desc" data-aos="fade-up">
          Принимая во внимание показатели успешности, синтетическое тестирование
          обеспечивает актуальность модели развития. А ещё базовые сценарии
          поведения пользователей призывают нас к новым свершениям, которые, в
          свою очередь, должны быть объявлены нарушающими общечеловеческие нормы
          этики и морали. Внезапно, представители современных социальных
          резервов формируют глобальную экономическую сеть и при этом — в равной
          степени предоставлены сами себе.
        </div>
      )
    }

    <div class="specialist__actions group">
      {
        (variant === "default" || variant === "main") && (
          <Button data-modal="callback" data-aos="fade-up" data-aos-delay="150">
            Записаться на прием
          </Button>
        )
      }
      {
        variant !== "main" && (
          <Button
            href="/doctor"
            variant="outline"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            Подробнее о специалисте
          </Button>
        )
      }
    </div>
  </div>
</div>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .specialist {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: rem(20);

    @include media("3xl") {
      &.is-secondary {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    @include media("lg") {
      flex-direction: column;
    }

    &__img {
      position: relative;
      @include size(rem(560));
      border-radius: rem(50);
      background: #fff;

      &.is-secondary {
        --size: #{rem(415)};

        img {
          max-height: 115%;
        }
      }

      &.is-main {
        min-width: 40%;
        width: 40%;

        img {
          max-height: 115%;
        }
      }

      @include media("3xl") {
        --size: #{rem(480)};
      }
      @include media(rem(1580)) {
        --size: #{rem(400)};
      }
      @include media("lg") {
        min-width: 100%;
        width: 100%;
        min-height: unset;
        height: rem(380);

        &.is-main {
          min-width: 100%;
          width: 100%;
        }
      }
      @include media("sm") {
        height: rem(220);
        border-radius: rem(25);
      }

      img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        max-height: 150%;
        object-fit: contain;
        object-position: bottom;
      }

      .btn {
        position: absolute;
        bottom: rem(20);
        left: 50%;
        z-index: 2;
        transform: translateX(-50%) !important;
        width: calc(var(--size) - rem(80)) !important;

        @include media("sm") {
          bottom: rem(15);
          height: rem(45);
          font-size: rem(14);
          max-width: calc(100% - rem(30)) !important;
        }
      }

      .btn-play {
        position: absolute;
        bottom: rem(20);
        right: rem(20);
        --icon-size: #{rem(100)};

        @include media("3xl") {
          --icon-size: #{rem(80)};
        }
        @include media("sm") {
          bottom: rem(15);
          right: rem(15);
          --icon-size: #{rem(60)};
        }
      }
    }

    &__info {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(20);

      .group {
        gap: rem(15);
      }

      &-experience {
        padding: rem(10) rem(30);
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        background: var(--secondary);
        border-radius: rem(15);
      }

      &-name {
        font-size: clamp(1.5rem, 1.3269rem + 0.7692vw, 2.25rem);

        strong {
          color: var(--primary);
          display: block;
        }
      }

      &-desc {
        margin-bottom: rem(10);
        max-width: 90%;
        line-height: 1.35;

        @include media("sm") {
          max-width: 100%;
          font-size: rem(14);
        }
      }
    }

    &__directions {
      margin-top: rem(20);
      width: 100%;
      flex-wrap: wrap;
      gap: rem(20);

      &.is-secondary {
        margin-top: 0;
      }

      @include media("3xl") {
        margin-top: rem(10);
      }

      @include media("lg") {
        gap: rem(15) rem(20);
      }
      @include media("sm") {
        margin: rem(15) 0 rem(10);
        gap: rem(10);
      }

      li {
        position: relative;
        padding: rem(15);
        color: var(--text-dark);
        background: #fff;
        border-radius: rem(17);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: rem(10);

        &::before {
          content: "";
          display: inline-block;
          @include size(rem(13));
          background: var(--primary);
          border-radius: 50%;
        }

        @include media("sm") {
          padding: rem(8) rem(10);
          font-size: rem(14);
          gap: rem(6);
          --size: #{rem(10)};
        }
      }
    }

    &__actions {
      width: 100%;

      @include media("2xl") {
        flex-direction: row;
        flex-wrap: wrap;
      }

      .btn {
        width: rem(305);

        @include media("xs") {
          width: 100%;
        }
      }
    }

    .btn {
      text-transform: uppercase;
    }
  }
</style>
