---
import { Section, H4, P, BgImg, Image, Icon, Button } from "ui";

interface Props {
  title: string;
  subtitle?: string;
  desc?: string;
  video: string;
  isMain?: boolean;
}

const { title, subtitle, desc, video, isMain = false } = Astro.props;
---

<!-- Hero -->
<Section name="hero">
  <div class="wrapper group">
    <div class="hero__content">
      <div class="hero__video">
        <video autoplay muted loop poster="/assets/img/hero/poster-1.png">
          <source src={`/assets/videos/${video}`} type="video/mp4" />
        </video>

        <svg class="hero__video-mask">
          <defs>
            <mask id="heroMask">
              <path d="" fill="white" id="maskPath"></path>
            </mask>
          </defs>
        </svg>
      </div>

      <div class="hero__text group">
        <div class="text-xl" data-aos="fade-up" set:html={subtitle} />
        <div
          class="text-h1"
          data-aos="fade-up"
          data-aos-delay="50"
          set:html={title}
        />

        {
          desc && (
            <p
              class="text-base"
              data-aos="fade-up"
              data-aos-delay="75"
              set:html={desc}
            />
          )
        }

        <ul class="hero__text-tags group-row">
          <li
            class="hero__text-tag row"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            Персональный подход
          </li>
          <li
            class="hero__text-tag row"
            data-aos="fade-up"
            data-aos-delay="150"
          >
            17 лет опыта
          </li>
          <li
            class="hero__text-tag row"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            Результат после 1 сеанса*
          </li>
        </ul>

        <ul class="hero__text-advantages group">
          <li
            class="hero__text-advantage row"
            data-aos="fade-up"
            data-aos-delay="250"
          >
            *В 80% улучшение после первого <br />
            визита
          </li>
          <li
            class="hero__text-advantage row"
            data-aos="fade-up"
            data-aos-delay="300"
          >
            Оптимальное сочетание методов <br />
            и фиксированная стоимость
          </li>
        </ul>

        <div class="hero__text-btns group">
          <div class="text-sm" data-aos="fade-up" data-aos-delay="350">
            Запишитесь на прием прямо сейчас!
          </div>
          <div class="group-row">
            <Button
              data-modal="callback"
              data-aos="fade-up"
              data-aos-delay="400">ЗАПИСАТЬСЯ</Button
            >
            <a
              href="tel:+79163771754"
              target="_blank"
              title="Телефон"
              class="row"
              data-aos="fade-up"
              data-aos-delay="450"
            >
              <Icon src="call.svg" />
              +7 (916) 377-17-54
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="hero__doctor" data-aos="fade-up">
      <Image class="hero__doctor-img" src="doctor.png" />

      <button
        class="hero__doctor-play"
        data-fancybox="video"
        data-src="/assets/videos/hero.mp4"
        data-poster="/assets/img/hero/poster-1.png"
      >
        <Icon src="play.svg" />
      </button>

      <div class="group">
        <div class="hero__doctor-name">
          <strong>Киселев</strong> Антон Сергеевич
        </div>
        <div class="hero__doctor-text">Основатель клиники</div>
      </div>

      <svg class="hero__doctor-mask">
        <defs>
          <mask id="heroMask2">
            <path d="" fill="white" id="maskPath2"></path>
          </mask>
        </defs>
      </svg>
    </div>
  </div>

  <div class="hero__advantages group-row">
    <div class="hero__advantages-item group-row" data-aos="fade-up">
      <Image src="hero/advantage-1.png" />
      <div class="group">
        <H4>Без операций и минимум лекарств</H4>
        <p>естественные методы восстановления.</p>
      </div>
    </div>

    <div
      class="hero__advantages-item group-row"
      data-aos="fade-up"
      data-aos-delay="50"
    >
      <Image src="hero/advantage-2.png" />
      <div class="group">
        <H4>Адаптивная программа лечения</H4>
        <p>с учётом особенностей каждого пациента.</p>
      </div>
    </div>

    <div
      class="hero__advantages-item group-row"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <Image src="hero/advantage-3.png" />
      <div class="group">
        <H4>Опытные специалисты</H4>
        <p>сертифицированные врачи с многолетней практикой.</p>
      </div>
    </div>

    <div
      class="hero__advantages-item group-row"
      data-aos="fade-up"
      data-aos-delay="150"
    >
      <Image src="hero/advantage-4.png" />
      <div class="group">
        <H4>Поддержка на всех этапах</H4>
        <p>от первичной консультации до максимального восстановления.</p>
      </div>
    </div>
  </div>
</Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .hero {
    .container {
      gap: rem(40);
    }

    .wrapper {
      position: relative;
      width: 100%;
      gap: rem(40);

      @include media("xs") {
        gap: rem(90);
      }
    }

    &__content {
      position: relative;
      padding: rem(70) rem(38);
      height: rem(756);
      width: 100%;
      overflow: hidden;

      @include media("lg") {
        padding: rem(25) rem(30) rem(50);
        height: auto;
      }
      @include media("sm") {
        padding: rem(15) rem(15) rem(50);
      }
    }

    &__video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: -1;
      mask: url(#heroMask);
      -webkit-mask: url(#heroMask);

      @include media("lg") {
        mask: none;
        -webkit-mask: none;
        border-radius: rem(40);
      }
      @include media("sm") {
        border-radius: rem(20);
      }

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
      }
    }

    &__text {
      color: #fff;
      gap: rem(40);

      @include media("lg") {
        gap: rem(30);
        & > .text-xl {
          font-size: rem(16);
        }
      }
      @include media("sm") {
        & > .text-xl {
          font-size: rem(14);
        }
      }

      .text-h1 {
        margin: rem(-20) 0;

        @include media("lg") {
          margin: rem(-20) 0 rem(-10);
        }

        span {
          font-size: 0.7em;
        }

        &:has(span) {
          line-height: 0.9;
        }
      }

      p.text-base {
        max-width: rem(660);
      }

      &-tags {
        flex-wrap: wrap;
        gap: rem(30) rem(40);

        @include media("lg") {
          gap: rem(15) rem(20);
        }
        @include media("sm") {
          gap: rem(10);
        }
      }

      &-tag {
        position: relative;
        padding: rem(12) rem(20);
        color: var(--text-dark);
        background: #fff;
        border-radius: rem(10);
        gap: rem(8);

        &::before {
          content: "";
          display: inline-block;
          @include size(rem(15));
          background: url('data:image/svg+xml,<svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.92398 8L14 11.0939L13.0585 12.9503L7.94152 9.72376V16H6.05848L6.09942 9.72376L0.982456 12.9503L0 11.0939L5.11696 8L0 4.90608L0.982456 3.00553L6.09942 6.27624L6.05848 0H7.94152V6.27624L13.0585 3.00553L14 4.90608L8.92398 8Z" fill="%238DA3DE" /></svg>')
            center/contain no-repeat;
        }

        @include media("sm") {
          padding: rem(8) rem(10);
          font-size: rem(14);
          gap: rem(6);
          --size: #{rem(12)};
        }
      }

      &-advantages {
        gap: rem(25);

        @include media("sm") {
          gap: rem(10);
        }
      }

      &-advantage {
        position: relative;
        gap: rem(12);

        @include media("sm") {
          font-size: rem(14);
        }

        &::before {
          content: "";
          display: block;
          background: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_121_1779)"><path d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z" fill="%23ACF7E0" /><path d="M11.9117 23.2177L20.1388 31.4448C26.9527 29.6278 32 23.4196 32 16C32 15.8486 32 15.6972 32 15.5457L25.5394 9.5899L11.9117 23.2177Z" fill="%2375DFBC" /><path d="M16.4038 19.5836C17.1104 20.2902 17.1104 21.5016 16.4038 22.2082L14.94 23.6719C14.2334 24.3786 13.0221 24.3786 12.3154 23.6719L5.90533 17.2114C5.19871 16.5047 5.19871 15.2934 5.90533 14.5868L7.36906 13.123C8.07568 12.4164 9.28704 12.4164 9.99366 13.123L16.4038 19.5836Z" fill="%2343A4A4" /><path d="M22.0063 8.42902C22.7129 7.72239 23.9242 7.72239 24.6309 8.42902L26.0946 9.89274C26.8012 10.5994 26.8012 11.8107 26.0946 12.5173L14.9905 23.571C14.2839 24.2776 13.0725 24.2776 12.3659 23.571L10.9022 22.1072C10.1955 21.4006 10.1955 20.1893 10.9022 19.4826L22.0063 8.42902Z" fill="%2343A4A4" /></g><defs><clipPath id="clip0_121_1779"><rect width="32" height="32" fill="white" /></clipPath></defs></svg>')
            center/contain no-repeat;
          @include size(rem(32));
        }
      }

      &-btns {
        gap: rem(25);

        @include media("sm") {
          gap: rem(15);
        }

        .group-row {
          flex-wrap: wrap;
          gap: rem(15) rem(30);
        }

        a.row {
          font-size: rem(22);
          gap: rem(10);
          --icon-size: #{rem(32)};
        }
      }
    }

    &__doctor {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 2;
      width: rem(592);
      height: rem(192);
      border-radius: rem(40);

      @include media("lg") {
        position: relative;
        padding: rem(20);
        width: 100%;
        height: auto;
        background: #fff;
        border-radius: rem(20);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem(20);
      }

      @include media("xs") {
        padding: rem(30) rem(15);
        gap: rem(10);
      }

      &-play {
        margin-top: rem(12);
        margin-left: rem(158);
        --icon-size: #{rem(72)};

        @include media("lg") {
          margin-top: 0;
          margin-left: 0;
          --icon-size: #{rem(64)};
        }
        @include media("xs") {
          position: absolute;
          top: 0;
          margin-top: rem(-24);
          margin-left: calc(100% - rem(190));
          --icon-size: #{rem(48)};
        }
      }

      &-img {
        position: absolute;
        bottom: 0;
        right: 0;
        min-width: rem(356);
        width: rem(356);
        height: auto;

        @include media("lg") {
          min-width: rem(280);
          width: rem(280);
        }
        @include media("md") {
          min-width: rem(200);
          width: rem(200);
        }
        @include media("xs") {
          min-width: rem(160);
          width: rem(160);
        }
      }

      & > .group {
        margin-top: rem(25);
        margin-left: rem(20);
        gap: rem(2);

        @include media("lg") {
          margin-top: 0;
          margin-left: 0;
        }
        @include media("sm") {
          width: 100%;
          max-width: calc(100% - rem(160));
          gap: rem(4);
        }
      }

      &-name {
        color: var(--secondary);
        font-size: rem(18);

        @include media("sm") {
          font-size: 1rem;
        }
        @include media("xs") {
          font-size: rem(14);
        }
      }

      &-text {
        color: #353535;

        @include media("xs") {
          font-size: rem(14);
        }
      }

      &-mask {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: #fff;
        pointer-events: none;
        mask: url(#heroMask2);
        -webkit-mask: url(#heroMask2);

        @include media("lg") {
          display: none;
        }
      }
    }

    &__advantages {
      width: 100%;
      flex-wrap: wrap;
      align-items: stretch;
      gap: rem(20);

      @include media("xs") {
        gap: rem(15);
      }

      &-item {
        padding: rem(20) rem(14);
        flex: 1 0 rem(340);
        background: #fff;
        border-radius: rem(40);
        gap: rem(20);

        @include media("xs") {
          padding: rem(15) rem(10);
          flex-basis: 100%;
          gap: rem(15);
          border-radius: rem(20);

          p {
            font-size: rem(14);
          }
        }

        img {
          min-width: rem(100);
          width: rem(100);
          min-height: rem(120);
          height: rem(120);
          object-fit: contain;
          object-position: center;

          @include media("sm") {
            min-width: rem(80);
            width: rem(80);
            min-height: rem(100);
            height: rem(100);
          }
        }

        .group {
          gap: rem(10);

          @include media("sm") {
            gap: rem(6);
          }
        }
      }
    }
  }
</style>
