---
import { Section, H2, H3, P, Image, Icon, Button } from "ui";
---

<!-- Way -->
<Section name="way">
  <div class="way__header group">
    <div class="way__header-top group-row">
      <div class="way__header-title" data-aos="fade-up">Кратчайший путь к</div>
      <div class="way__header-mark" data-aos="fade-up" data-aos-delay="50">
        здоровью
      </div>
      <div class="way__header-subtitle" data-aos="fade-up" data-aos-delay="100">
        ПОЗВОНОЧИНКА <br /> И СУСТАВОВ
      </div>
    </div>
    <div class="way__header-bottom group-row">
      <video
        class="way__header-video"
        autoplay
        loop
        muted
        data-aos="fade-up"
        data-aos-delay="150"
      >
        <source src="/assets/videos/DNA.mp4" />
      </video>
      <div class="group">
        <div class="way__header-start" data-aos="fade-up" data-aos-delay="200">
          НАЧИНАЕТСЯ ЗДЕСЬ
        </div>
        <p class="way__header-desc" data-aos="fade-up" data-aos-delay="250">
          Современные методы лечения, наш опыт и лучшее оборудование помогут
          улучшить качество жизни
        </p>
      </div>
    </div>
  </div>
  <div class="way__content group-row">
    <div class="way__content-bg">
      <video autoplay muted loop data-aos="zoom-in" data-aos-delay="100">
        <source src="/assets/videos/way.mp4" />
      </video>
    </div>

    <ul class="way__content-list group">
      <li data-aos="fade-up">Боли в шейном, грудном и поясничном отделе</li>
      <li data-aos="fade-up" data-aos-delay="25">
        Боли в ногах, мышечные боли
      </li>
      <li data-aos="fade-up" data-aos-delay="50">Боли в суставах</li>
      <li data-aos="fade-up" data-aos-delay="75">
        Боли при защемлении седалищного нерва
      </li>
      <li data-aos="fade-up" data-aos-delay="100">Боли под лопаткой</li>
      <li data-aos="fade-up" data-aos-delay="125">
        Боли при межпозвонковой грыже
      </li>
    </ul>

    <ul class="way__content-list group">
      <li data-aos="fade-up">Головные боли и головокружение</li>
      <li data-aos="fade-up" data-aos-delay="25">Боли в ягодице</li>
      <li data-aos="fade-up" data-aos-delay="50">
        Боли при межреберной невралгии
      </li>
      <li data-aos="fade-up" data-aos-delay="75">Боли при радикулите</li>
      <li data-aos="fade-up" data-aos-delay="100">
        Боли и онемение пальцев рук
      </li>
      <li data-aos="fade-up" data-aos-delay="125">Скованность в спине и шее</li>
    </ul>
  </div>
</Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .way {
    position: relative;

    &__header {
      width: 100%;
      gap: rem(12);

      @include media("lg") {
        gap: rem(20);
      }

      &-top,
      &-bottom {
        width: 100%;
        gap: rem(24);
      }

      &-top {
        @include media("lg") {
          flex-wrap: wrap;
          gap: rem(15) rem(24);
        }
        @include media("sm") {
          gap: rem(10);
        }
      }

      &-bottom {
        @include media("lg") {
          flex-direction: column;
          align-items: flex-start;
          gap: rem(15);
        }

        .group {
          gap: rem(5);
        }
      }

      &-title {
        font-size: clamp(1.75rem, 1.2885rem + 2.0513vw, 3.75rem);
        font-weight: 500;
        text-transform: uppercase;

        @include media("lg") {
          width: 100%;
        }
      }

      &-mark {
        padding: rem(20) rem(40);
        color: var(--primary);
        font-size: clamp(0.875rem, 0.4135rem + 2.0513vw, 2.875rem);
        text-transform: uppercase;
        border: rem(2) solid var(--primary);
        border-radius: rem(45);

        @include media("sm") {
          padding: rem(10) rem(20);
          border-radius: rem(25);
          border-width: rem(1);
        }
        @include media("xs") {
          padding: rem(8) rem(15);
        }
      }

      &-subtitle {
        font-size: clamp(1rem, 0.6538rem + 1.5385vw, 2.5rem);
        font-weight: 500;
        text-transform: uppercase;
      }

      &-video {
        width: 40%;
        height: rem(155);
        border-radius: rem(55);
        object-fit: cover;

        @include media("lg") {
          width: 100%;
          height: rem(140);
          border-radius: rem(40);
        }
        @include media("sm") {
          height: rem(100);
          border-radius: rem(25);
        }
      }

      &-start {
        color: var(--primary);
        font-size: clamp(2.25rem, -1.6071rem + 6.0268vw, 5.625rem);
        font-weight: 500;
        text-transform: uppercase;

        @include media("lg") {
          font-size: clamp(1.75rem, 0.7404rem + 4.4872vw, 6.125rem);
        }
      }

      &-desc {
        font-size: clamp(0.875rem, 0.7885rem + 0.3846vw, 1.25rem);
      }
    }

    &__content {
      position: relative;
      width: 100%;
      height: rem(790);
      justify-content: center;
      gap: 25%;

      @include media("2xl") {
        height: rem(600);
        gap: 22%;
      }
      @include media("lg") {
        height: auto;
        flex-direction: column;
        gap: rem(40);
      }

      &-bg {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: -1;
        @include size(rem(790));

        @include media("2xl") {
          --size: #{rem(600)};
        }
        @include media("lg") {
          all: unset;
          width: 100%;
        }

        video {
          width: 100%;
          height: 100%;
          object-fit: contain;

          @include media("lg") {
            height: auto;
            max-height: rem(480);
          }
        }
      }

      &-list {
        min-width: 30%;
        gap: rem(40);
        --item-1-margin: #{rem(70)};
        --item-2-margin: #{rem(100)};

        @include media("2xl") {
          gap: rem(30);
          --item-1-margin: #{rem(50)};
          --item-2-margin: #{rem(80)};
        }
        @include media("lg") {
          width: 100%;
          min-width: auto;
          text-align: left !important;
          flex-direction: row;
          align-items: stretch !important;
          flex-wrap: wrap;
          justify-content: flex-start;
          gap: rem(15) rem(20);
          --item-1-margin: 0;
          --item-2-margin: 0;
        }
        @include media("xs") {
          gap: rem(12);
        }

        &:nth-child(2) {
          align-items: flex-end;
          text-align: right;

          li {
            &:nth-child(2),
            &:nth-child(5) {
              margin-right: var(--item-1-margin);
            }

            &:nth-child(3),
            &:nth-child(4) {
              margin-right: var(--item-2-margin);
            }
          }
        }

        &:nth-child(3) {
          align-items: flex-start;

          @include media("lg") {
            margin-top: rem(-20);
          }

          li {
            &:nth-child(2),
            &:nth-child(5) {
              margin-left: var(--item-1-margin);
            }

            &:nth-child(3),
            &:nth-child(4) {
              margin-left: var(--item-2-margin);
            }
          }
        }

        li {
          padding: rem(25) rem(30);
          background: #fff;
          border-radius: rem(15);

          @include media("2xl") {
            padding: rem(15) rem(20);
            font-size: rem(14);
          }
          @include media("sm") {
            padding: rem(10) rem(15);
            font-size: rem(12);
            border-radius: rem(10);
          }
        }
      }
    }
  }
</style>
